body {
	padding:0;
	margin:0;
	background:#fff;
}
body,html {
	height:100%
}
div,li,ul {
	padding:0;
	margin:0
}
img {
	vertical-align:top;
	border:0
}
li,ul {
	list-style:none;
	text-transform:capitalize
}
#banner {
	margin-bottom:-10px
}
#carousel {
	position:relative;
	z-index:2;
	margin-top:20px;
	transform-style:preserve-3d;
	perspective:800px
}
#carousel img {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-252px;
	transition:transform .5s ease-in-out;
	box-shadow:8px 8px 20px rgba(0,0,0,.2);
	cursor:pointer
}
#bannerNav {
	position:relative;
	margin-top:20px;
	height:10px;
	padding:10px 0;
	text-align:center
}
#bannerNav ul li {
	cursor:pointer;
	overflow:hidden;
	display:inline-block;
	width:22px;
	margin:0 2px
}
#bannerNav ul li a {
	margin:0 auto;
	display:block;
	width:6px;
	height:6px;
	vertical-align:top;
	border-radius:3px;
	background:#5e6671;
	font-size:0
}
#bannerNav ul li.on a,#bannerNav ul li:hover a {
	background:#00aeff
}
#bannerNav ul li.on a {
	width:20px
}

#carousel {
	height:400px
}
#carousel img {
	width:500px;
	border-radius: 10px;
	opacity: 0;
}
.header-content{
	height: 180px;
	background:url("../img/pic.jpg") ;
	background-size:auto 180px;
	position: relative;
}
.commont{
	padding-top: 10px;
	font-size: 40px;
	color: white;
	font-weight: 800;
	vertical-align:bottom;
	margin-left: 120px;
}

.commont{
	float: left;
	padding-top: 80px;
	font-size: 40px;
	color: white;
	font-weight: 800;
	vertical-align:bottom;
	margin-left: 200px;
}
.commont-right{
	float: left;
	padding-top: 120px;
	padding-left: 60px;
	color: #66512c;
	display: none;
	font-size: 20px;
	font-weight: 700;
}
.full-left{
	float: left;
	padding-left: 30px;
	font-size: 16px;
	color: #3c3c3c;
	font-weight: 600;
}
.full-right{
	float: right;
}
.foot-wrapper{
	z-index: 999;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.foot-content{
	padding: 20px 0;
}
.id-style{
	font-weight: 800;
}
.name-style{
	font-size: 16px;
	color: #1b6d85;
	font-weight: 600;
	padding: 0 10px;
}
.toName-style{
	font-size: 16px;
	color: green;
	font-weight: 600;
	padding: 0 10px;
}
.comment-style{
	font-size: 20px;
	font-weight: 600;
	padding: 0 10px;
}
